.list-container {
    width: 350px;
    position: relative;
}

.list-card {
    position: relative;
}

.list-name-edit {
    top: 11px;
    position: absolute;
    left: 10px;
    width: 70%;

}

.list-name-edit input {
    font-size: 16px;
    font-weight: 500;
}

.list-header {
    display: flex;
    flex-direction: row;
}

.list-action-btn {
    width: 100%;
    text-align: center;
}

.list-action-btn button {
    align-self: flex-start;
}

.icon-container {
    display: flex;
    flex-direction: row;
    width: 50px;
    justify-content: space-between;
}