.board-container {
    height: 100%;
    overflow-y: scroll;
    background: #f2f2f2;
    padding: 20px;
}

.card-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.action-btn {
    margin-bottom: 20px;
}

.action-btn button {
    width: 150px;
    height: 30px;
    font-weight: bold;
    margin-right: 30px;
}

.board-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board-list-container>div {
    margin-right: 10px;
    margin-bottom: 10px;
}