html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #f9fafc;
  font: url("../src/assets/fonts//SF-Font-Compact.dmg");
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px red;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
